/* Estilos da página index.html*/

.center {
    text-align: center;
    padding: 30px;
}

.container {
    display: flex;
    flex-flow: row;
    justify-content: center;
    /* align-items: center; alinha os itens no centro */
}

#menu li {
    display: inline;
    padding: 30px;
}

#menu li a {
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 20px;
}

#menu li a:hover {
    color: rgb(78, 78, 78);
}

#menu {
    text-align: center;
}

.fotorani {
    width: 295px;
}

.videointro {
    display: flex;
    flex-flow: row;
    justify-content: center;
}

.logotm {
    width: 30px;
    padding: 20px;
}

.sobre {
    text-align: center;
    padding: 40px;
    margin: 20px;
}


/* Estilos da página contato.html*/


/* Estilos da página portfolio.html */